/* Easter egg */
.madur-i-potti{
    display: block;
    margin: 0 auto;
    width:70%;
}

.good-time{
    text-align: center;
}

.egg{
    background-color: #053623;
}


.paskaegg{
    display: block;
    text-align: center;
    padding: 10px 15px;
    margin: 10px;
    background-color: #04432a;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.paskaegg:hover{
    background-color: #690a0a;
}