

/* Vörusíða */

.box {
    border: 1px solid #ccc;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

}

.box img {
    width: 250px;
    height: 150px;
    object-fit: cover;
}

.voru-lysing {
    margin-left: 20px;
}

#adal-vara a {
    text-decoration: none;
    color: #000;
}

#likar-vorur {
    gap: 10px; 
    padding: 20px;
}

#likar-vorur a {
    text-decoration: none;
    color: #000;
}

#adal-vara img {
    width: 500px;
    height: 300px;
    object-fit: cover;
}

#adal-vara a:hover {
    text-decoration: underline;
}

#likar-vorur a:hover {
    text-decoration: underline;
}

.box h3, .box p {
    margin: 5px 0;
}

